<h4> View Book's Details</h4>
<hr>
<br>
<div>
    <div>
        <label> <b> Book Title: </b></label> {{books.title}}
    </div>
    <div>
        <label> <b> Author Name: </b></label> {{books.author}}
    </div>
    <div>
        <label> <b> Book Publisher: </b></label> {{books.publisher}}
    </div>
    <div>
        <label> <b> Publication Date: </b></label> {{books.publicationDate}}
    </div>
    <div>
        <label> <b> Description: </b></label> {{books.description}}
    </div>
    <div>
        <label> <b> ISBN: </b></label> {{books.isbn}}
    </div>
</div>
